name: Update Posts
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-posts:
    name: Update Posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Pull posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://blog.mk1.io/api/feed"
          max_post_count: "3"
          commit_message: "chore: update blog posts"
          committer_email: "i@mk1.io"
          committer_username: "so1ve"

